
/*        DO NOT CHANGE        */

@font-face {
    font-family: 'Hind';
    src: url('/static/font/Hind-Regular.ttf');
}

@font-face {
    font-family: 'Hind Light';
    src: url('/static/font/Hind-Light.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
    font-size: 16px;
    color: #444444;
}

.size-1 {
    font-size: 1.4rem;
}

.size-2 {
    font-size: 1.2rem;
}

.size-3 {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.02rem;
}

.size-4 {
    font-size: 0.8rem;
    font-family: 'Hind Light', sans-serif;
}

.size-5 {
    font-size: 0.6rem;
}

.invert {
    color: #ffffff;
    background-color: #555555;
}


ul {
    padding: 0;
}

.container {
    position: relative;
}

.container #canvas, .container #ui {
    position: absolute;
}

/* force hardware acceleration */
canvas {
    transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}

/* TODO: LOOK UP THESE FOR CANVAS OPTIMIZATION */
/* image-rendering: optimizeSpeed; */
/* image-rendering: -moz-crisp-edges; */
/* image-rendering: -webkit-optimize-contrast; */
/* image-rendering: optimize-contrast; */
/* image-rendering: pixelated; */
/* -ms-interpolation-mode: nearest-neighbor; */

#ui {
    width: 100%;
    height: 100%;
}


/*        GENERAL        */

.list-item {
    width: 15%;
    list-style-type: none;
    display: inline-block;
}

.hide {
    display: none;
}


/*        CLICK        */

.click, .navigation div {
    border: solid 1px transparent;
}

.click:hover, .navigation div:hover {
    cursor: pointer;
}

.click:active, .navigation div:active {
    cursor: pointer;
    border-color: red;
}

/*        HEADER        */

.header {
    padding: 20px;
}

.header .resources {
    box-sizing: border-box;
    padding: 0.8rem;
}

/*        BUILDING        */

#building {
    width: 30%;
    background-color: #ffffff;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#building .img {
    width: 100%;
    height: 15%;
    background-color: #eee;
}

#building .title, #building .content, #building ul {
    padding: 0 20px;
}

.item {display: table-row;
}

.item img {
    max-width: 40px;
}

.item span {
    display: table-cell;
    vertical-align: middle;
    padding: 0 0.6rem;
}

/*        MENU        */

.menu {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: white;
    padding: 8px 20px;
}

.navigation {
    text-align: center;
}

.navigation div {
    display: inline-block;
}

.navigation .arrow {
    padding: 0 16px;
    margin: 0 2px;
    border: solid 1px #777777;
}

.close {
    background-color: #eeeeee;
    padding: 4px 8px;
    border-radius: 100%;
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
}


/*        CARDS        */

.card {
    border-color: #444;
}

.card-header {
    word-break: break-all;
    padding: 0.2rem;
}

.card-header, .card-body,.card-footer {
    text-align: center;
}

.card-body img {
    max-width: 100%;
}

.card-footer .resources div {
 }
