html, body {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
}

.container #canvas, .container #ui {
    position: absolute;
}

/* force hardware acceleration */
canvas {
    transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
}

/*        MENU UI        */

#ui {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "."
        "menu";
}

.menu {
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
        "buttons"
        "content";

    background-color: white;
    padding: 8px;
}

.list {
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "item item item item item";
}

.list-item {
    grid-area: item;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas:
        "item-name"
        "item-cost";
}

.item-name {
    grid-area: item-name;
}

.item-cost {
    grid-area: item-cost;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "resource resource";
}

.resource {
    grid-area: resource;
}
